<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bis/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>GEM</title>
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html">BHUMISTHA</a>
            <div class="nav-links" id="navLinks">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#about-us">ABOUT US</a></li>
                    <li><a href="#research">RESEARCH</a></li>
                    <li><a href="#innovation">INNOVATION</a></li>
                    <li><a href="#application">APPLICATION</a></li>
                    <li><a href="#career">CAREER</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Revolutionize with graphite Innovation</h1>
            <p>At the Graphite Equipment Hub, we embark on a journey to revolutionize industries through sustainable and efficient graphite applications. Our mission is to propel the graphite industry into new realms of performance and environmental responsibility. Through collaboration and cutting-edge solutions, we empower businesses to thrive in a future where graphite-based technologies lead the way. Join us in this transformative adventure toward a more efficient, sustainable, and interconnected world.</p>
            <a href="" class="hero-btn">Visit Us to Know More</a>
        </div>
    </section>

    <!-- Abou us -->
    <section id="about-us" class="about-us">
        <h1>About Us</h1>
        <div class="about-us-content">
            <img src="aboutimg1.jpg" alt="About Us Image">
            <div>
                <h2>We are Bhumistha Infra Foundation</h2>
            <p>We are Bhumistha InfraTech, a visionary force at the forefront of transformative graphite solutions. As the driving force behind Graphite Equipment Manufacturing (GEM), we lead the evolution towards sustainable and efficient applications. Our mission is to redefine industry standards, foster innovation, and contribute to a greener, technologically advanced world.</p>
        </div>
        </div>
    </section>

    <!-- Our vision -->
    <section id="about-us" class="vision-section">
        <div class="vision-headline">OUR VISION</div>

        <div class="vision-box">
            <div class="box">
                <img src="vision1.webp" alt="Image 1">
                <div class="box-text">
                    <p>To lead the evolution towards sustainable and efficient graphite applications, driving transformative change and inspiring a future where graphite-based solutions power progress.</p>
                </div>
            </div>

            <div class="box">
                <img src="vision1.webp" alt="Image 2">
                <div class="box-text">
                    <p>To be the global epicenter for excellence and innovation in graphite-based equipment solutions, redefining industry standards and fostering a sustainable future through cutting-edge technologies.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Mission -->
    <section id="about-us" class="mission-section">
        <div class="mission-headline">OUR MISSION</div>

        <div class="mission-container">
            <div class="mission">
                <img src="mission1.jpg" alt="Mission 1 Image">
                <div class="mission-text">
                    <h3>Mission 1</h3>
                    <p>
                        At the Graphite Equipment Hub, our mission is to propel the graphite industry into new frontiers of performance and sustainability. We are dedicated to fostering a collaborative ecosystem where industry leaders, researchers, and entrepreneurs converge to develop cutting-edge graphite equipment solutions. Through rigorous research, development, and knowledge sharing, we aim to elevate the standards of graphite applications, empower industries with state-of-the-art solutions, and contribute to a greener and more technologically advanced world.
                    </p>
                </div>
            </div>

            <div class="mission">
                <img src="mission2.jpg" alt="Mission 2 Image">
                <div class="mission-text">
                    <h3>Mission 2</h3>
                    <p>
                        At the Graphite Equipment Hub, our mission is to lead the transformation of industries by advancing graphite-based equipment technologies. We are committed to providing a collaborative space where industry leaders, researchers, and innovators converge to drive research, development, and implementation of state-of-the-art graphite equipment solutions. Through strategic partnerships, continuous learning, and a focus on environmental responsibility, we aim to propel industries forward, contributing to a more efficient, sustainable, and interconnected world.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- OUR OBJECTIVES -->
    <section id="about-us" class="objectives-section">
        <div class="section-headline">OUR OBJECTIVES</div>

        <div class="objectives-container">
            <div class="objective">
                <img src="objective1.png" alt="Objective 1 Image">
                <div class="objective-text">
                    <h3>Cutting-Edge Innovation</h3>
                    <p>
                        Harness the power of cutting-edge graphite solutions, leading the way in sustainable and efficient applications.
                    </p>
                </div>
            </div>

            <div class="objective">
                <img src="objective2.jpg" alt="Objective 2 Image">
                <div class="objective-text">
                    <h3>Global Excellence Center</h3>
                    <p>
                        Choose a global epicenter for excellence and innovation, redefining industry standards with top-notch graphite-based equipment solutions.
                    </p>
                </div>
            </div>

            <div class="objective">
                <img src="objective3.jpg" alt="Objective 3 Image">
                <div class="objective-text">
                    <h3>Collaborative Transformation</h3>
                    <p>
                        Join a collaborative hub dedicated to transforming industries, advancing graphite technologies, and contributing to a sustainable, interconnected future.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="gem-team-section">
        <div class="section-headline">OUR TEAM</div>

        <div class="gem-team-container">
            <div class="team-member">
                <div class="member-circle">
                    <img src="team1.jpg" alt="Mayur Patil Photo">
                </div>
                <div class="member-info">
                    <h3>Saya Mishra</h3>
                    <p>Senior Manufacturing Manager</p>
                </div>
            </div>

            <div class="team-member">
                <div class="member-circle">
                    <img src="team3.jpg" alt="Raine Joy Photo">
                </div>
                <div class="member-info">
                    <h3>Raine Joy</h3>
                    <p>Senior Manufacturing Head</p>
                </div>
            </div>

            <div class="team-member">
                <div class="member-circle">
                    <img src="team2.jpg" alt="Siyain Saisa Photo">
                </div>
                <div class="member-info">
                    <h3>Naira Sehejwal</h3>
                    <p>Manufacturing Head</p>
                </div>
            </div>

            <div class="team-member">
                <div class="member-circle">
                    <img src="team4.jpg" alt="Nick Chruchu Photo">
                </div>
                <div class="member-info">
                    <h3>Nick Chruchu</h3>
                    <p>Manufacturing Manager</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Research -->
    <section id="research" class="research-section">
        <div class="section-headline">OUR RESEARCH</div>
    
        <div class="research-grid">
            <!-- Boxes with blue outline -->
            <div class="research-item">
                <img src="research1.jpg" alt="Research Image 1">
                <div class="research-text">
                    <h3>Innovation in Graphite Applications</h3>
                    <p>Explore groundbreaking research on sustainable and efficient graphite applications. Investigate how graphite can drive transformative change in various industries.</p>
                    <button class="read-more-button">Read More-></button>
                </div>
            </div>
    
            <div class="research-item">
                <img src="research2.jpg" alt="Research Image 2">
                <div class="research-text">
                    <h3>Global Excellence in Graphite Equipment Solutions</h3>
                    <p>Learn about cutting-edge technologies in graphite-based equipment solutions. Understand how the Graphite Equipment Hub is redefining industry standards globally.</p>
                    <button class="read-more-button">Read More-></button>
                </div>
            </div>
    
            <div class="research-item">
                <img src="research3.jpg" alt="Research Image 3">
                <div class="research-text">
                    <h3>Collaborative Ecosystem for Research and Development</h3>
                    <p>Discover our collaborative ecosystem that brings together industry leaders, researchers, and entrepreneurs. Explore the synergy of minds dedicated to developing cutting-edge graphite equipment solutions.</p>
                    <button class="read-more-button">Read More-></button>
                </div>
            </div>
    
            <div class="research-item">
                <img src="research4.jpg" alt="Research Image 4">
                <div class="research-text">
                    <h3>Elevating Standards through Rigorous Research</h3>
                    <p>Dive into the details of our rigorous research methodologies. Understand how we aim to elevate the standards of graphite applications through innovation.</p>
                    <button class="read-more-button">Read More-></button>
                </div>
            </div>
    
            <div class="research-item">
                <img src="research5.jpg" alt="Research Image 5">
                <div class="research-text">
                    <h3>Empowering Industries with State-of-the-Art Solutions</h3>
                    <p>Explore the impact of our research on empowering industries with state-of-the-art graphite solutions. Learn how these solutions contribute to a greener and more technologically advanced world.</p>
                    <button class="read-more-button">Read More-></button>
                </div>
            </div>
    
            <div class="research-item">
                <img src="research6.jpg" alt="Research Image 6">
                <div class="research-text">
                    <h3>Leading the Transformation of Industries</h3>
                    <p>Understand our mission to lead the transformation of industries through advanced graphite-based technologies. Explore the collaborative space we provide for research, development, and implementation.</p>
                    <button class="read-more-button">Read More-></button>
                </div>
            </div>

        </div>
    </section>
    
    <!-- INNOVATIONS -->
    <section id="innovation" class="innovation-section">
        <div class="section-headline">Innovation By Our Team</div>

        <div class="innovation-container">
            <div class="innovation-item">
                <img src="innovation1.png" alt="Innovation Image 1">
                <div class="innovation-content">
                    <h4>Graphene Applications</h4>
                    <p>Explore the revolutionary impact of graphene in diverse industries, unlocking new possibilities in electronics, materials science, and energy solutions.</p>
                </div>
            </div>

            <div class="innovation-item">
                <img src="innovation2.jpg" alt="Innovation Image 2">
                <div class="innovation-content">
                    <h4>Graphite Additives for Batteries</h4>
                    <p>Discover how our innovations in graphite additives have advanced energy storage capabilities, with applications in electric vehicles and renewable energy solutions.</p>
                </div>
            </div>

            <div class="innovation-item">
                <img src="innovation3.jpg" alt="Innovation Image 3">
                <div class="innovation-content">
                    <h4>Advanced Coating Technologies</h4>
                    <p>Learn about our cutting-edge coating technologies using graphite, enhancing corrosion resistance, lubrication, and thermal conductivity in aerospace, automotive, and industrial sectors.</p>
                </div>
            </div>

            <div class="innovation-item">
                <img src="innovation4.jpg" alt="Innovation Image 4">
                <div class="innovation-content">
                    <h4>Graphite in 3D Printing</h4>
                    <p>Explore the transformative role of graphite in 3D printing, enabling the precise manufacturing of complex structures with high thermal conductivity for aerospace and electronics applications.</p>
                </div>
            </div>

            <div class="innovation-item">
                <img src="innovation5.jpg" alt="Innovation Image 5">
                <div class="innovation-content">
                    <h4>High-Performance Graphite Lubricants</h4>
                    <p>Explore our innovative high-performance graphite lubricants designed to reduce friction and wear in automotive engines, industrial machinery, and precision instruments.</p>
                </div>
            </div>

        </div>
    </section>

    <!-- Application section -->
    <section id="application" class="application-section">
        <div class="section-headline">APPLICATION</div>

        <div class="application-container">
            <!-- Above Section Boxes -->
            <div class="application-item">
                <h4>Electric Vehicles (EVs)</h4>
                <p>Highlighting the role of graphite-based solutions in enhancing lithium-ion batteries for electric vehicles.</p>
            </div>

            <div class="application-item">
                <h4>Renewable Energy Storage</h4>
                <p>Showcasing applications of graphite in improving efficiency and storage capacity in renewable energy systems.</p>
            </div>

            <div class="application-item">
                <h4>Aerospace Industry</h4>
                <p>Exploring the use of advanced graphite coatings for improved corrosion resistance, lubrication, and thermal conductivity in aerospace.</p>
            </div>

            <div class="application-item">
                <h4>Electronics and 3D Printing</h4>
                <p>Demonstrating the application of graphite in 3D printing for manufacturing heat-resistant components in electronics.</p>
            </div>

            <!-- Below Section Boxes -->
            <div class="application-item">
                <h4>Industrial and Automotive Sectors</h4>
                <p>Discussing the impact of graphite solutions on enhancing durability and performance in industrial and automotive applications.</p>
            </div>

            <div class="application-item">
                <h4>Materials Science and Innovation Hub</h4>
                <p>Positioning the organization as an innovation hub in materials science, contributing to advancements in graphite applications.</p>
            </div>

            <div class="application-item">
                <h4>Interactive Visuals</h4>
                <p>Using visuals and infographics to illustrate the applications and benefits of graphite innovations in an engaging manner.</p>
            </div>

            <div class="application-item">
                <h4>Client Success Stories</h4>
                <p>Featuring success stories and case studies of clients who have implemented graphite solutions with positive outcomes.</p>
            </div>
        </div>
    </section>

    <!-- Contact us section -->
    <section id="contact" class="contact-section">
        <div class="section-headline">Contact Us</div>

        <p>To connect with us, to know more about our product and services, let's join together. Contact us below.</p>

        <div class="contact-box">
            <div class="input-box">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name">
            </div>

            <div class="input-box">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>

            <div class="input-box">
                <label for="message">Message:</label>
                <textarea id="message" name="message" placeholder="Enter your message"></textarea>
            </div>

            <button class="send-button">Send</button>
        </div>
    </section>

    



    <!-- Javascript for toggle menu -->
    <script>

        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
        

    </script>
    
</body>
</html>
