<!-- FILEPATH: /D:/Programming/internship/proj/bis/templates/index.html -->

{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> BIS </title>


  <!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="{% static 'bis/bootstrap.css' %}" />

<!-- fonts style -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

<!-- owl slider stylesheet -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

<!-- font awesome style -->
<link href="{% static 'bis/font-awesome.min.css' %}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="{% static 'bis/style.css' %}" rel="stylesheet" />
<!-- responsive style -->
<link href="{% static 'bis/responsive.css' %}" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="{% static 'bis/images/hero-bg.png' %}" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'bis/images/logo.png' %}" alt="Description of the image" style="max-height: 60px;">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav menu  ">
              <li class="nav-item active menu-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                <ul class="drop-menu" id="dropdown">
                    <li class="drop-menu-item">
                        <a href=" ">IT CoX</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="/gem">GEM</a>
                    </li>
                </ul>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#team"> About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="why.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="team.html">Career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    {% block body %}
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>{{ carousel_list.compname1 }}</h1>
                    <p style="font-weight: bold; font-size: 16px;">{{ carousel_list.compcontent1 }}</p>
                    <div class="btn-box">
                      <a href="" class="btn1" style="border-radius: 20px;">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'bis/images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>{{ carousel_list.compname2 }}</h1>
                    <p style="font-weight: bold; font-size: 16px;">{{ carousel_list.compcontent2 }}</p>
                    <div class="btn-box">
                      <a href="https://bis2.vercel.app/" class="btn1" style="border-radius: 20px;">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="{% static 'bis/images/pipes.jpeg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Mission</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'bis/images/s1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>{{ goals_list.heading1 }}</h5>
                <p>{{ goals_list.body1 }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'bis/images/s2.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>{{ goals_list.heading2 }}</h5>
                <p>{{ goals_list.body2 }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'bis/images/s3.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>{{ goals_list.heading3 }}</h5>
                <p>{{ goals_list.body3 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end service section -->

  <section class="team_section layout_padding" id="team">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Our <span> Team</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'bis/images/5856.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>{{ team_list.name1 }}</h5>
                <p>{{ team_list.designation1 }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'bis/images/5857.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>{{ team_list.name2 }}</h5>
                <p>{{ team_list.designation2 }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'bis/images/5856.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>{{ team_list.name3 }}</h5>
                <p>{{ team_list.designation3 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->

  <!-- about section -->

  <section class="about_section layout_padding" id="history">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          <span>History</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'bis/images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
              <h3>{{ history_content.title }}</h3>
              <p>{{ history_content.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->



  <!-- why section -->

  <section class="why_section layout_padding" id="services">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our <span>Services</span>
            </h2>
        </div>
        <div class="why_container">
            {% for service in services_list %}
            <div class="box">
                <div class="img-box">
                    <!-- You can use the 'service' object to access individual fields -->
                    <img src="{{ service.image.url }}" alt="">
                </div>
                <div class="detail-box">
                    <h5>{{ service.heading }}</h5>
                    <p>{{ service.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
  <!-- end why section -->



  {% comment %} internship sections {% endcomment %}
  <section class="career_section" id="career" style="background-color: white">
    <div class="career_box" style="margin-bottom: 1px;">
        <div class="container text-center py-5">
            <h1>Career</h1>
            <div class="d-inline-flex align-items-center text-blue">
                <p class="m-0">We are keen that you make a solid foundation for your future by gaining critical experience on cutting-edge technology projects. It's another effort in our endeavor to be an employer of choice</p>
            </div>
        </div>
    </div>
    <section>
        <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 20px;">
            <div class="section-title justify-content-between" style="display: flex;">
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h5 class="fw-bold text-primary text-sm-start">JOB OPPORTUNITIES</h5>
                </div>
                <div>
                    <a href="#contact" class="appointment-btn scrollto"><span class="d-none d-md-inline">APPLY NOW</span> </a>
                </div>
            </div>
            <div class="py-3 fw-light">
                {% for career in career_list %}
                    <h4>Position: {{ career.position }}</h4>
                    <h4>Requirements:</h4>
                    <ul>
                        {% for requirement in career.requirement_set.all %}
                            <li>{{ requirement.description }}</li>
                        {% endfor %}
                    </ul>
                    <h4>How to Apply:</h4>
                    <p>Please send your resume to <a href="mailto:info@bhumistha.com">info@bhumistha.com</a></p>
                {% endfor %}
            </div>
        </div>
    </section>
</section>




  <!-- client section -->

  {% endblock body %}

  <!-- end client section -->


  <!-- info section -->

  <section class="contact-page" id="contact">
    <div class="contact">
        <div class="content">
            <h2>Contact <span>us</span></h2>
            <p>{{ contact_info_list.tagline }}</p>
        </div>
        <div class="cont-container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>{{ contact_info_list.address }}</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>{{ contact_info_list.number }}</p>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <!--  -->
                <form class="form-contact" method="POST">
                  {% csrf_token %}
                    <h2>Send Messages</h2>
                    <div class="cont-input-box">
                        <input name='name' type="text" class="item" id="Name" oninput="checkInputValue(this)">
                        <span class="floating-label">Name</span>
                        <div class="error-txt">Full name can't be blank</div>
                    </div>
                    <div class="cont-input-box">
                        <input name='email' type="email" class="item" id="Email" oninput="checkInputValue(this)">
                        <span class="floating-label">Email</span>
                        <div class="error-txt">Email can't be blank</div>
                    </div>
                    <div class="cont-input-box">
                        <textarea name='subject' class="item" id="problem"></textarea>
                        <span class="floating-label">Subject</span>
                        <div class="error-txt">Message can't be blank</div>
                    </div>
                    <div class="cont-input-box">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
  

  <!-- end info section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://bhumistha.com/">Bhumistha</a>
      </p>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
<script type="text/javascript" src="{% static 'bis/jquery-3.4.1.min.js' %}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="{% static 'bis/bootstrap.js' %}"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'bis/custom.js' %}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
</body>

</html>
